# Evaluaci√≥n Diagn√≥stico 
### Felipe Mart√≠nez Nakousi
### IIC2154 - Secci√≥n 3

#### Importar librer√≠as

In [2]:
import pandas as pd
from pandas.io.json import json_normalize
import warnings
import json
warnings.filterwarnings("ignore")

##### Definir Dataset

In [3]:
with open('dataset.json') as file:
     data = [json.loads(line) for line in file.readlines()]

In [15]:
df = pd.json_normalize(data)
df.head()

,url,date,content,renderedContent,id,outlinks,tcooutlinks,replyCount,retweetCount,likeCount,...,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quoteCount,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.conversationId,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.lang,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.source,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.sourceUrl,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.sourceLabel,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.media,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.retweetedTweet,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet,quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.quotedTweet.mentionedUsers
0,https://twitter.com/ShashiRajbhar6/status/1376...,2021-03-30T03:33:46+00:00,Support üëá\n\n#FarmersProtest,Support üëá\n\n#FarmersProtest,1376739399593910273,[],[],0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://twitter.com/kaursuk06272818/status/137...,2021-03-30T03:33:23+00:00,Supporting farmers means supporting our countr...,Supporting farmers means supporting our countr...,1376739306287427584,[],[],0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://twitter.com/kaursuk06272818/status/137...,2021-03-30T03:31:00+00:00,Support farmers if you are related to food #St...,Support farmers if you are related to food #St...,1376738704128020488,[],[],0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://twitter.com/SukhdevSingh_/status/13767...,2021-03-30T03:30:45+00:00,#StopHateAgainstFarmers support #FarmersProtes...,#StopHateAgainstFarmers support #FarmersProtes...,1376738640542400518,[],[],0,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://twitter.com/Davidmu66668113/status/137...,2021-03-30T03:30:30+00:00,"You hate farmers I hate you, \nif you love the...","You hate farmers I hate you, \nif you love the...",1376738579171344386,[],[],0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Funciones

In [85]:
def most_retweeted(df,n=10):
    # Recibe dataframe y retorna los 10 tweets mas retweeteados.
    top10 = df.nlargest(n, columns=['retweetCount'])
    return top10[['content', 'retweetCount']]
    

testdf = df.sample(n=1000, random_state=1)
most_retweeted(testdf)

                                                  content  retweetCount
346984  The whole bollywood woke up suddenly to call o...          1711
310750  Speaking out against Global Human Rights viola...          1046
197889  Which organisations or individuals are providi...           932
197398  ‡§∏‡•Ä‡§ß‡§æ ‡§ï‡•â‡§≤ to ‡§ü‡•â‡§™ ‡§∏‡•á‡§≤‡•á‡§¨‡•ç‡§∞‡§ø‡§ü‡•Ä‡§ú‡§º\nSalute to Abhina...           500
104117  God bless our Farmersü§≤ \nI pray our Farmers re...           241
194649  The 74-year-old actor shared a news report by ...           238
92563   Farmers work hard to make sure we have food on...           196
375546  I thanks to @LicypriyaK  for motivate world to...           173
298268  Absolutely Right @taapsee \n\n#FarmersProtest\...           141
405978  Siropa for #Rihanna and lakh lanata for Bollyw...            89

In [68]:
def most_tweets(df,n=10):
    # Recibe dataframe y retorna los 10 usuarios con m√°s tweets.
    return df['user.username'].value_counts()[:n]

most_tweets(testdf)

harjot_tweeting    17
rebelpacifist      10
rumsomal            7
NavJammu            5
pawanrai1313        5
shells_n_petals     5
diljit_maan12       4
Iamjazzie96         4
BinduGhuman         4
1Kuldeep2           4
Name: user.username, dtype: int64

In [69]:
def dias_con_mas_tweets(df,n=10):
    # Recibe dataframe y retorna dias con m√°s tweets.
    df['dia']=df['date'].str[:9]
    return df['dia'].value_counts()[:n]
    
dias_con_mas_tweets(testdf)

2021-02-0    620
2021-02-1    113
2021-02-2     80
2021-03-0     64
2021-03-2     63
2021-03-1     59
2021-03-3      1
Name: dia, dtype: int64

In [70]:
def hashtags_mas_usados(df, n=10):
    # Recibe dataframe y retorna hashtags m√°s usados.
    return df.content.str.extractall(r'(\#\w+)')[0].value_counts()[:n]

hashtags_mas_usados(testdf)

#FarmersProtest              964
#farmersprotest               37
#IStandWithFarmers            34
#Rihanna                      32
#FarmersAreIndia              31
#StandWithFarmers             27
#IndianFarmersHumanRights     26
#HumanRights                  19
#ReleaseDetainedFarmers       17
#FreeNodeepKaur               16
Name: 0, dtype: int64

##### Main

In [86]:
def main(df, n=10):
    # recopila las funciones.
    print(f'1. Top {n} tweets mas retweeted:\n')
    print(most_retweeted(df,n))
    print(f'\n2. Top {n} usuarios con m√°s tweets:\n')
    print(most_tweets(df,n))
    print(f'\n3. Top {n} dias con m√°s tweets:\n')
    print(dias_con_mas_tweets(df,n))
    print(f'\n4. Top {n} hashtags m√°s utilizados:\n')
    print(hashtags_mas_usados(df,n))

### Resultados

In [87]:
main(testdf)

1. Top 10 tweets mas retweeted:

                                                  content  retweetCount
346984  The whole bollywood woke up suddenly to call o...          1711
310750  Speaking out against Global Human Rights viola...          1046
197889  Which organisations or individuals are providi...           932
197398  ‡§∏‡•Ä‡§ß‡§æ ‡§ï‡•â‡§≤ to ‡§ü‡•â‡§™ ‡§∏‡•á‡§≤‡•á‡§¨‡•ç‡§∞‡§ø‡§ü‡•Ä‡§ú‡§º\nSalute to Abhina...           500
104117  God bless our Farmersü§≤ \nI pray our Farmers re...           241
194649  The 74-year-old actor shared a news report by ...           238
92563   Farmers work hard to make sure we have food on...           196
375546  I thanks to @LicypriyaK  for motivate world to...           173
298268  Absolutely Right @taapsee \n\n#FarmersProtest\...           141
405978  Siropa for #Rihanna and lakh lanata for Bollyw...            89

2. Top 10 usuarios con m√°s tweets:

harjot_tweeting    17
rebelpacifist      10
rumsomal            7
NavJammu            5
pawanrai1313        5
shells_n_petals     5
diljit_maan12       4
Iamjazzie96         4
BinduGhuman         4
1Kuldeep2           4
Name: user.username, dtype: int64

3. Top 10 dias con m√°s tweets:

2021-02-0    620
2021-02-1    113
2021-02-2     80
2021-03-0     64
2021-03-2     63
2021-03-1     59
2021-03-3      1
Name: dia, dtype: int64

4. Top 10 hashtags m√°s utilizados:

#FarmersProtest              964
#farmersprotest               37
#IStandWithFarmers            34
#Rihanna                      32
#FarmersAreIndia              31
#StandWithFarmers             27
#IndianFarmersHumanRights     26
#HumanRights                  19
#ReleaseDetainedFarmers       17
#FreeNodeepKaur               16
Name: 0, dtype: int64